.footer{
    //height: 300px;
    padding: 24px 12px;
    color: white;
    background-color: $navy-blue;
    
    &--disclaimer{
        border: 1px solid white;
        font-size: 0.9rem;
        padding: 8px;
    }
    
    &--copyright{
        text-align: center;
        font-size: 0.8rem;
    }
}





