.hero-container {
    height: 100vh;
    background-color: $ru-blue;
    .hero-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .hero-text {
        display: flex;
        text-align: center;
        color: white;
    }
}