.hero {
    height: 100vh;
    background-color: $ru-blue;
    &--inner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    &--title {
        color: white;
        font-size: 2.5rem;
    }
    &--title-highlight {
        color: black;
        font-weight: 700;
        display: inline-block;
        position: relative;
        z-index: 2;
        transition: all 0.35s;
        
        &::after {
            content: '';
            display: block;
            background: $ru-gold;
            height: 85%;
            position: absolute;
            top: 10%;
            left: -3%;
            width: 105%;
            z-index: -1;
            -webkit-transform: rotate(-3deg) skew(12deg);
            transform: rotate(-3deg) skew(12deg);
        }
    }
    .github-link {
        white-space: normal;
        margin-top: 40px;
        font-size: 1.2rem;
    }
}

@media (max-width: 575.98px) {
    .hero {
        &--title {
            font-size: 2rem;
        }
    }
}